<body>
 <h1>
  ようこそ<strong>Bookers</storng>へ！
 </h1>

<span>
  Bookersは、さまざまな書籍に対するあなたの意見や印象を、<br />
  投稿し、共有することができます。<br />
  </span>


   <%= link_to "Start",books_path,class:"btn btn-outline btn-block" %>

</body>